body{
    background: linear-gradient(to right, black, rgb(181, 176, 176));
}

.header {
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-family: Arial;
    gap: 10px;
}

.header h1{
    font-size: medium;

}

.header hr {
    width: 40%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgb(181, 176, 176), black);
}
.down{
    display: block;
    text-align: center;
    font-size: large;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

footer p{
    color: rgb(230, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
}