body{
    background: linear-gradient(to right, black, rgb(181, 176, 176));
}

.footer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-family: Arial;
    gap: 10px;
}

.footer hr {
    width: 40%;
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgb(181, 176, 176), black);
}
.down{
    display: block;
    text-align: center;
    font-size: large;
}
